/*
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//  Module Configuration File
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//  Defines module-specific options. Specifies output behavior and adds any
//  user-supplied arguments for each module.
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: CUTADAPT {
        // Output parameters for cutadapt.
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
        ]
        // External directive for any user-supplied arguments.
        ext.args = params.cutadapt_args ?: ''
    }
    withName: KB_REF {
        // Output parameters for kb ref.
        publishDir = [
            path: { "${params.outdir}/kallisto/ref" },
            mode: params.publish_dir_mode,
            enabled: params.save_ref
        ]
        ext.args = params.kb_ref_args ?: ''
    }
    withName: KB_COUNT {
        // Output parameters for kb count.
        publishDir = [
            path: { "${params.outdir}/kallisto/output" },
            mode: params.publish_dir_mode
        ]
        // External directive for any user-supplied arguments.
        ext.args = params.kb_count_args ?: ''
    }
}
