process {
    /*
    // Generic parameters.
    */
    cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 1.h  * task.attempt, 'time'   ) }

    maxErrors  = 0

    /*
    // Process-specific parameters.
    */
    // Resource parameters for cutadapt.
    withName: CUTADAPT {
        cpus   = { check_max( 6                   , 'cpus'   ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h   * task.attempt, 'time'   ) }
    }
    // Resource parameters for kb ref.
    withName: KB_REF {
        cpus   = { check_max( 6                   , 'cpus'   ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h   * task.attempt, 'time'   ) }
    }
    // Resource parameters for kb count.
    withName: KB_COUNT {
        cpus   = { check_max( 6                   , 'cpus'   ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h   * task.attempt, 'time'   ) }
    }
}